<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">All subjects</a>
      <a mat-list-item routerLink="/myRequirements">My requirements</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="justify-content-between">
      <button
        id="toggleButton"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="placeholder col-1"></div>
      <div class="d-flex col-4 justify-content-end">
        <div class="mr-3">
          <span *ngIf="currentUser" class="username">
            <mat-icon>person</mat-icon>
            {{ currentUser.username }}
          </span>
        </div>
        <div class="login-logout-button">
          <button mat-raised-button
                  (click)="currentUser ? logout() : login()">{{currentUser ? "Logout" : "Login" }}
          </button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
