<mat-toolbar-row class="justify-content-end">
    <mat-slide-toggle color="primary" (change)="onFilterChanged($event)">
      Show only my subjects
    </mat-slide-toggle>
</mat-toolbar-row>
<div>
  <mat-table mat-table [dataSource]="dataSource">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Subject's name</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
    </ng-container>

    <!-- #Projects Column -->
    <ng-container matColumnDef="projects">
      <mat-header-cell *matHeaderCellDef>No. Projects</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.projects ? element.projects.length : 0 }}
      </mat-cell>
    </ng-container>

    <!-- #Exams Column -->
    <ng-container matColumnDef="exams">
      <mat-header-cell *matHeaderCellDef>No. Exams</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.exams ? element.exams.length : 0 }}
      </mat-cell>
    </ng-container>

    <!-- #Assignments Column -->
    <ng-container matColumnDef="assignments">
      <mat-header-cell *matHeaderCellDef>No. Assignments</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.assignments ? element.assignments.length : 0 }}
      </mat-cell>
    </ng-container>

    <!-- #Official credit Column -->
    <ng-container matColumnDef="officialCredit">
      <mat-header-cell *matHeaderCellDef>Credit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.officialCredit }}
      </mat-cell>
    </ng-container>

    <!-- #Experienced credit Column -->
    <ng-container matColumnDef="experiencedCredit">
      <mat-header-cell *matHeaderCellDef>Experienced credit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.experiencedCredit }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="subscription">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Subscription</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="row.subscribed; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
          <button mat-raised-button color="warn" (click)="unsubscribe(row)">Unsubscribe</button>
        </ng-template>
        <ng-template #elseBlock>
          <button mat-raised-button color="accent" (click)="subscribe(row)">Subscribe</button>
        </ng-template>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let subject; columns: displayedColumns" [class.selected-subject]="selectedSubject === subject"
             (click)="selectedSubject = selectedSubject === subject ? undefined : subject" class="subject-row"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
<div *ngIf="selectedSubject" class="p-0 p-md-5">
  <app-subject [subject]="selectedSubject"></app-subject>
</div>
