<div class="p-3">
  <div>
    <div>
      <mat-form-field appearance="standard" class="w-25 m-3">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="subject.name"/>
      </mat-form-field >
      <mat-form-field appearance="standard" class="w-25 m-3">
        <mat-label>Official credit</mat-label>
        <input matInput type="text" [(ngModel)]="subject.officialCredit"/>
      </mat-form-field>
      <mat-form-field class="w-25 m-3">
        <mat-label>Experienced credit</mat-label>
        <input matInput type="text" [(ngModel)]="subject.experiencedCredit"/>
      </mat-form-field>
      <mat-form-field class="w-25 m-3">
        <mat-label>Scoring</mat-label>
        <input matInput type="text" [(ngModel)]="subject.scoring"/>
      </mat-form-field>
    </div>
    <mat-form-field class="w-25 m-3">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="subject.description"></textarea>
    </mat-form-field>
  </div>
  <button *ngIf="!isNew" mat-icon-button (click)="save()">
    <mat-icon>save</mat-icon>
  </button>
  <button *ngIf="!isNew" mat-icon-button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
  <div *ngIf="filteredAssignments(subject).length > 0">
    <div class="mat-headline">Assignments</div>
    <app-edit-assignment *ngFor="let assignment of filteredAssignments(subject)" [assignment]="assignment"
                         [parentSubject]="subject"
                         class="mt-2"></app-edit-assignment>
  </div>
  <div class="mb-2">
    <button *ngIf="!isNew" mat-raised-button routerLink="/admin">New assignment</button>
  </div>
  <div *ngIf="subject.exams && subject.exams.length > 0">
    <div class="mat-headline">Exams</div>
    <div *ngFor="let exam of subject.exams" class="p-2">
      <app-edit-exam  [exam]="exam" [parentSubject]="subject"></app-edit-exam>
    </div>
  </div>
  <div class="mb-2">
    <button *ngIf="!isNew" mat-raised-button routerLink="/admin">New exam</button>
  </div>
  <div *ngIf="subject.projects && subject.projects.length > 0">
    <div class="mat-headline">Projects</div>
    <app-edit-project *ngFor="let project of subject.projects" [project]="project"
                      [parentSubject]="subject"></app-edit-project>
  </div>
  <div class="mb-2">
    <button *ngIf="!isNew" mat-raised-button routerLink="/admin">New project</button>
  </div>
  <div *ngIf="isNew" class="mt-2">
    <button mat-raised-button color="primary" (click)="create()">Create</button>
  </div>
</div>
